[server]

# The MariaDB Server
[mysqld]

# directory where you want to put your data
data = /usr/local/mysql/var
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
pid-file = /run/mysqld/mysqld.pid
skip-networking = false
user = mysql 
port = 3306
bind-address = 0.0.0.0

[embedded]

[mariadb]

[mariadb-10.11]
